/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2017, 05:23:38 PM
    Author     : wilmer.mogollon
*/
/*---------------------------------------------*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: initial; /* 2 */
    
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Generic styling */

body{
    background: #fff;    
}

.content{
    width: 100%;
    max-width: 64em;
    margin: 0 auto;
    padding: 0 1.429em;
}

a:focus{
    outline: 0.143em dashed #f7f7f7;
}

@media all and (max-width: 54.786em){
    .content{
        padding: 0 1.429em;
    }   
}

.ulorganigrama ul{
    padding: 0;
    margin: 0;
    list-style: none;       
}

.ulorganigrama ul a{
    display: block;
    background: #ccc;
    border: 0.286em solid #ededed;
    text-align: center;
    overflow: hidden;
    font-size: 0.75em;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    height: 5em;
    margin-bottom: -1.85em;
    box-shadow: 0.286em 0.286em 0.643em -0.286em rgba(0,0,0,0.4);
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    transition: all linear .1s;
    border-radius: 0.57em 0.57em 0.57em 0.57em; 
    -moz-border-radius: 0.57em 0.57em 0.57em 0.57em;
    -webkit-border-radius: 0.57em 0.57em 0.57em 0.57em;
    behavior:url(border-radius.htc);
}


@media all and (max-width: 47.9375em){
     ul a{
        font-size: 1em;
    }
}


 ul a span{
    top: 50%;
    margin-top: -0.7em;
    display: block;
}

/*
 
 */

.administration > li > a{
    margin-bottom: 25px;
}


.director > li > a,
.consejo > li > a{
    width: 20%;
    margin: 0 auto 0em auto;
    background: #579590;
    right: 5%;
    
}

.oti > li > a{
    width: 20%;
    margin: 0 auto 0em auto;
    background: #579590;
    right: -80px;
    
}
.com{
    width: 80%;
    margin: 0 auto 0em auto;
    background: #6cb43e;
    position: relative;
    top:-97px;
    right:80px
}
.cont{
    width: 80%;
    margin: 0 auto 0em auto;
    background: #6cb43e;
    position: relative;
    top:-60px;
    right:250px
}

.jur{
    width: 80%;
    margin: 0 auto 0em auto;
    background: #6cb43e;
    position: relative;
    top:-135px;
    right:-250px
}
.plan{
    width: 80%;
    margin: 0 auto 0em auto;
    background: #6cb43e;
    position: relative;
    top:-172px;
    right:-400px
}


.subdirector:after{
    content: "";
    display: block;
    width: 0;
    height: 130px;
    background: red;
    border-left: 0.286em solid #5fa299;
    left: 45.45%;
    position: relative;
}

.subdirector,
.departments{
    position: absolute;
    width: 100%;
}

.subdirector > li:first-child,
.departments > li:first-child{  
    width: 18.59894921190893%;
    height: 64px;
    margin: 0 auto 92px auto;       
    padding-top: 25px;
    border-bottom: 0.286em solid #5fa299;
    z-index: 1; 
}

.departments > li:last-child{ 
    z-index: 1;
}

.subdirector > li:first-child{
    float: right;
    right: 27.2%;
    border-left: 0.286em solid #5fa299;
}

.departments > li:first-child{  
    float: left;
    left: 27.2%;
    border-right: 0.286em solid #5fa299;  
}

.subdirector > li:first-child a,
.departments > li:first-child a{
    width: 100%;
}
.subdirector > li:last-child a,
.departments > li:last-child a{
    width: 100%;
}

.subdirector > li:first-child a{    
    left: 25px;
}

@media all and (max-width: 54.786em){
    .subdirector > li:first-child,
    .departments > li:first-child{
        width: 40%; 
    }

    .subdirector > li:first-child{
        right: 10%;
        margin-right: 0.143em;
    }

    .subdirector:after{
        left: 49.8%;
    }

    .departments > li:first-child{
        left: 10%;
        margin-left: 0.143em;
    }
}


.departments > li:first-child a{
    background: #5eb17a;
}



.department:first-child,
.departments li:nth-child(2){
    margin-left: 0;
    clear: left;    
}

.departments:after{
    content: "";
    display: block;
    position: absolute;
    width: 60.1%;
    height: 22px;   
    border-top: 0.286em solid #5fa299;
    border-right: 0.286em solid #5fa299;
    border-left: 0.286em solid #5fa299;
    margin: 0 auto;
    top: 130px;
    left: 9.1%
}

@media all and (max-width: 54.786em){
    .departments:after{
        border-right: none;
        left: 0;
        width: 49.8%;
    }  
}

@media all and (min-width: 768px){
    .department:first-child:before,
   .department:last-child:before{
    border:none;
  }
}

.department:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 22px;
    border-left: 0.286em solid #5fa299;
    z-index: 1;
    top: -22px;
    left: 50%;
    margin-left: -0.286em;
}

.department{
    border-left: 0.286em solid #5fa299;
    width: 18.59894921190893%;
    float: left;
    margin-left: 1.751313485113835%;
    margin-bottom: 60px;
}

.lt-ie8 .department{
    width: 18.25%;
}

@media all and (max-width: 47.9375em){
    .department{
        float: none;
        width: 100%;
        margin-left: 0;
    }

    .department:before{
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 60px;
        border-left: 0.286em solid #5fa299;
        z-index: 1;
        top: -60px;
        left: 0%;
        margin-left: -0.286em;
    }

    .department:nth-child(2):before{
        display: none;
    }
}

.department > a{
    margin: 0 0 -1.85em -0.286em;
    z-index: 1;
}

.department > a:hover{  
    height: 80px;
}

.department > ul{
    margin-top: 0em;
    margin-bottom: 0em;
}

.department li{ 
    padding-left: 25px;
    border-bottom: 0.286em solid #5fa299;
    height: 80px;   
}

.department li a{
    background: #000;
    top: 48px;  
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 60px;
    vertical-align: middle;
    right: -1px;
    
}

.department li a:hover{
    box-shadow: 8px 8px 0.643em -0.286em rgba(0,0,0,0.1);
    height: 80px;
    width: 95%;
    top: 39px;
    background-image: none!important;
}

/* Department/ section colors */
.department.dep-a a{ background: #5fa299; }
.department.dep-b a{ background: #5fa299; }
.department.dep-c a{ background: #5fa299; }
.department.dep-d a{ background: #5fa299; }
